{% extends "base.html" %}
{% block title %}
Flask Market
{% endblock %}

{% block content %}
<h1><span class="flask-icon"><img src="../static/images/flask-icon.svg" alt="Flask"></span>Market</h1>


<div class="container">


  <table class="table table-responsive-md table-hover border border-primary table-dark">
    <thead>
      <tr>
        <!-- Your Columns HERE -->
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Barcode</th>
        <th scope="col">Price</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>

      <!-- Your rows inside the table HERE: -->
      {% for item in items %}
      <tr>
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.barcode}}</td>
        <td>₹{{item.price}}</td>
        <td>
          <button class="btn btn-outline btn-info">More Info</button>
          <button class="btn btn-outline btn-success">Purchase This Item</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}